

h2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h6{
    font-family: cursive
}

h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}

.a{
    align-content: center;
    border-radius: 80px;
}

.aa{
    margin: 40px;
    font-weight:  bold;
    font-size: 15px;
}

.as{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}


.ad{
    background-color: grey;
    padding: 8px;
    font-weight: bold;
    width: 100px;
    border-radius: 10px;

    
}

.ad:hover{
    background-color: white;
}

p{
    font-size:large;
    font-weight: bold;
}

#image_1 {
    margin: auto;
    display: block;
    border-radius: 1000px;
    text-align: center;
}

/* .thumbnail{
    margin-right: 60px;
} */


div.item {
    /* To correctly align image, regardless of content height: */
    vertical-align: top;
    display: inline-block;
    /* To horizontally center images and caption */
    text-align: center;
    /* The width of the container also implies margin around the images. */
    width: 120px;
}
/* img {
    width: 100px;
    height: 100px;
    background-color: grey; */
/* } */
.caption {
    /* Make the caption a block so it occupies its own line. */
    display: block;
}

/* for tablesort*/
/* from https://github.com/tristen/tablesort/blob/gh-pages/tablesort.css */

th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}

.button {
    margin: 20px;
    background-color: #39495c;
    border-radius: 5px;
    font-size: 18px;
    /* width: 100px;
    height: 40px; */
    color: white;
    padding: 5px;
    box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
      inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
      inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
    text-align: center;
    cursor: pointer;
  }


.sss {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    
    background-color: black;
    color: #ddd;
    margin: auto;
    
    
    text-align: center;
  }

  .txt{
    word-wrap: break-word;
  }

  
  

